{% extends 'case_management/layout.html' %}

{% block body %}
    <h2 class="cases-overview-txt">{{ greeting_message }}{{ request.user.username }}</h2>
    <a class="create-task-link" href="{% url 'case_management:create_task' %}">Create New Task</a>
    <table>
        <tr>
            <th>Title</th>
            <th>Due Date</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td><a href="{% url 'case_management:task' slug=task.slug %}">{{ task.title }}</a></td>
                <td>{{ task.due_date }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

