{% extends 'case_management/layout.html' %}

{% block body %}

    <h2>Task: {{ name }}</h2>

    <form method="POST">
        {% csrf_token %}
        {{ status_form }}
        <input class="submit-btn" type="submit" value="Update Status">
    </form>

    <form method="POST">
        {% csrf_token %}
        {{ note_form }}
        <input class="submit-btn" type="submit" value="Add Note">
    </form>

    <form method="POST">
        {% csrf_token %}
        <input class="submit-btn" type="submit" value="Delete Task">
    </form>

{% endblock %}